name: Push actions.yaml files

on:
  pull_request:
    branches: [master]
jobs:
  generate_jobs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.WORKFLOW_KEY }}
      - name: Install python requirements
        run: python -m pip install jinja2 pyyaml
      - name: generate yaml files
        run: python generate_jobs.py
      - name: Check for changes
        id: changes
        run: |
          git add .github/workflows/main.yaml
          git add .github/workflows/test_lang-*.yaml
          git diff-index --quiet HEAD || echo "::set-output name=changed::true"
      - name: Commit and push changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Upload actions files'
          git push origin ${{ github.head_ref }}
        if: steps.changes.outputs.changed == 'true'
