name: BST Workflow

on:
  workflow_dispatch:

jobs:
  
  python3:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [100,1000,10000, 100000, 1000000, 2000000, 3000000, 4000000, 5000000,6000000,7000000,8000000,9000000,10000000]
        attempt: [1, 2, 3]
    container:
      image: python:3.11
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run bst
        uses: "./.github/template/runner"
        with:
          folder: python3
          run_command: python main.py

  c:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [100,1000,10000, 100000, 1000000, 2000000, 3000000, 4000000, 5000000,6000000,7000000,8000000,9000000,10000000]
        attempt: [1, 2, 3]
    container:
      image: gcc:12
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run bst
        uses: "./.github/template/runner"
        with:
          folder: c
          build_command: g++ -std=c99 -o main.out main.c node.c tree.c
          run_command: ./main.out

  cpp:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [100,1000,10000, 100000, 1000000, 2000000, 3000000, 4000000, 5000000,6000000,7000000,8000000,9000000,10000000]
        attempt: [1, 2, 3]
    container:
      image: gcc:12
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run bst
        uses: "./.github/template/runner"
        with:
          folder: c++
          build_command: g++ -o main.out main.cpp tree.cpp node.cpp
          run_command: ./main.out

  cs:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [100,1000,10000, 100000, 1000000, 2000000, 3000000, 4000000, 5000000,6000000,7000000,8000000,9000000,10000000]
        attempt: [1, 2, 3]
    container:
      image: mcr.microsoft.com/dotnet/sdk:5.0
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run bst
        uses: "./.github/template/runner"
        with:
          folder: 'c#'
          run_command: dotnet run

  lua:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [100,1000,10000, 100000, 1000000, 2000000, 3000000, 4000000, 5000000,6000000,7000000,8000000,9000000,10000000]
        attempt: [1, 2, 3]
    container:
      image: nickblah/lua:5
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run bst
        uses: "./.github/template/runner"
        with:
          folder: 'lua'
          run_command: lua main.lua

  rust:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [100,1000,10000, 100000, 1000000, 2000000, 3000000, 4000000, 5000000,6000000,7000000,8000000,9000000,10000000]
        attempt: [1, 2, 3]
    container:
      image: rust:1.67
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Run bst
        uses: "./.github/template/runner"
        with:
          folder: 'rust'
          build_command: rustc main.rs
          run_command: ./main

  summary:
    needs: [python3, c, cpp, cs, lua, rust]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Download Output
        uses: actions/download-artifact@v3
        with:
          path: ${{ github.workspace }}/temp
      - name: Install dependencies
        run: |
          python -m pip install matplotlib
      - name: Generate Summary
        run: |
          ls ${{ github.workspace }}/temp/results
          python pipeline_analysis.py ${{ github.workspace }}/temp/results
        working-directory: ${{ github.workspace }}
      - name: Add results.json
        run: |
          git add results.json
          git add results/*
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git commit -m 'Upload new results'
      - name: Upload results.json
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: master
          force: true
          directory: .
