name: BST Workflow

on: [push, pull_request]

jobs:
  # startup:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v2

  runner:
    # needs: startup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        amount: [10, 20, 40]
    container:
      image: python:3.11
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Compile and Run
        run: |
          mkdir -p ${{ github.workspace }}/temp
          mkdir /datasets
          cp datasets/* /datasets
          ls /datasets
          cd BST/python3
          python main.py ${{ matrix.amount }} >  ${{ github.workspace }}/temp/output-${{ github.run_id }}-${{ matrix.version }}.txt
      - name: Upload Output
        uses: actions/upload-artifact@v3
        with:
          name: output-${{ github.run_id }}-${{ matrix.amount }}
          path:  ${{ github.workspace }}/temp/output-${{ github.run_id }}-${{ matrix.version }}.txt

  summary:
   needs: runner
   runs-on: ubuntu-latest
   steps:
     - name: Checkout code
       uses: actions/checkout@v2
     - name: Make temp folder
       run: mkdir  ${{ github.workspace }}/temp
     - name: Download Output
       uses: actions/download-artifact@v3
       with:
         path:  ${{ github.workspace }}/temp
     - name: Generate Summary
       run: |
         ls  ${{ github.workspace }}/temp
         cat  ${{ github.workspace }}/temp/*
    #  - name: Commit and Push
    #    run: |
    #      git config --global user.name 'GitHub Actions'
    #      git config --global user.email 'github-actions@github.com'
    #      git add .
    #      git commit -m "Add summary"
    #      git push
