# THIS FILE IS GENERATED AUTOMATICALLY. IF YOU WANT TO CHANGE THIS, CHANGE
# 'templates/test_lang.yaml.j2' FILE

name: Test lang - golang

on:
  pull_request:
    branches:
      - master
    paths:
      - 'BST/golang/**'

jobs:
 
  golang:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20.4
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Test bst
        uses: "./.github/template/test_lang"
        with:
          folder: golang
          build_command: 
          run_command: go run *.go